.jumbotron {
  background-image: url("../img/header.gif");
  background: cover;
  text-align: center;
  color: black;
}

.intro {
  text-align: center;
}

#track-results {
  color:black;
  background-color:#b4ddff;
}

#track-results:hover {
  color: blue;
}

#cssResult{
  display: none;
}
#cResult {
  display: none;
}

#phpResult{
  display: none;
}

#rubyResult{
  display: none;
}

#javaResult{
  display: none;
}

.panel {
  background-color: white;
}

.well {
  background-color: white;
}

.ansCol {
background-color: #b4ddff;
}
/*
#ansCol{
  background-color: grey;
} */
