.jumbotron {
  background-image: url("../img/header.gif");
  background: cover;
  text-align: center;
  color: black;
}

.intro {
  text-align: center;
}

#track-results {
  color:black;
  background-color: grey;
}

#track-results:hover {
  color: blue;
}
